@model IEnumerable<TrainingHub.Models.Notification>

@using TrainingHub.Security
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(RoleNames.TrainingCoordinator))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="alert alert-secondary d-none" data-live-notification-feed>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-live-notification-table-body data-notification-can-manage="@(User.IsInRole(RoleNames.TrainingCoordinator).ToString().ToLowerInvariant())">
@foreach (var item in Model) {
        <tr data-notification-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(RoleNames.TrainingCoordinator))
                {
                    <span> | </span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
