@model IEnumerable<TrainingHub.Models.Payment>
@using System.Linq
@using TrainingHub.Security

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(RoleNames.TrainingCoordinator))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment)
            </th>
            <th>
                Outstanding Balance
            </th>
            <th>
                Overdue
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment.AttendanceStatus)
            </td>
            <td>
                @item.OutstandingBalance.ToString("C")
            </td>
            <td>
                @(item.IsOverdue ? "Yes" : "No")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(RoleNames.TrainingCoordinator))
                {
                    <span> | </span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
