@model IEnumerable<TrainingHub.Models.CourseSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(RoleNames.TrainingCoordinator))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                Current Enrollments
            </th>
            <th>
                Remaining Spots
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        var enrolledCount = item.Enrollments?.Count(enrollment => EnrollmentCapacityRules.CountsTowardCapacity(enrollment.Status)) ?? 0;
        var remainingSpots = item.Capacity - enrolledCount;
        if (remainingSpots < 0)
        {
            remainingSpots = 0;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <span data-live-enrollment-current data-live-enrollment-session-id="@item.Id">@enrolledCount</span>
            </td>
            <td>
                <span data-live-enrollment-remaining data-live-enrollment-session-id="@item.Id">@remainingSpots</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Location)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(RoleNames.TrainingCoordinator))
                {
                    <span> | </span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else if (User.IsInRole(RoleNames.Instructor))
                {
                    <span> | </span>
                    <a asp-controller="Enrollments" asp-action="Index">Assess Trainees</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
