@model TrainingHub.Models.CertificationTrack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CertificationTrack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <h4>Required Courses</h4>

        @if (Model.CertificationTrackCourses.Any())
        {
            <ul>
                @foreach (var item in Model.CertificationTrackCourses)
                {
                    <li>@item.Course?.Title</li>
                }
            </ul>
        }
        else
        {
            <p>No required courses assigned.</p>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole(RoleNames.TrainingCoordinator))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <span> | </span>
    }
    @if (User.IsInRole(RoleNames.Trainee) && ViewBag.CurrentTraineeId != null)
    {
        <a asp-action="Progress" asp-route-traineeId="@ViewBag.CurrentTraineeId" asp-route-trackId="@Model?.Id">View My Progress</a>
        <span> | </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
