@model IEnumerable<TrainingHub.Models.CertificationTrack>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(RoleNames.TrainingCoordinator))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(RoleNames.TrainingCoordinator))
                {
                    <span> | </span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                @if (User.IsInRole(RoleNames.Trainee) && ViewBag.CurrentTraineeId != null)
                {
                    <span> | </span>
                    <a asp-action="Progress"
                       asp-route-traineeId="@ViewBag.CurrentTraineeId"
                       asp-route-trackId="@item.Id">
                        View Progress
                    </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
