@model TrainingHub.Models.Certificate

@{
    ViewData["Title"] = "Delete";
    var isLocked = ViewBag.IsLocked != null && (bool)ViewBag.IsLocked;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Certificate</h4>
    <hr />
    @if (isLocked)
    {
        <div class="alert alert-warning">Issued certificates cannot be deleted. Mark them as revoked instead.</div>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateReferenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateReferenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainee)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Trainee?.Email ?? "Unknown trainee")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationTrack)
        </dt>
        <dd class = "col-sm-10">
            @(Model.CertificationTrack?.Description ?? "Unknown track")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" disabled="@isLocked" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
